body
{
    line-height: 150%;
    margin: 0 auto;
    color: #412626;
    border-top: 2px solid #533d3d;
    background: #fff;
}
body a
{
    text-decoration: none;
    color: #412626;
}
h2 a
{
    font-family: monospace;
    color: #d53939;
}
.wrapper
{
    margin-top: 4%;
    margin-right: 10%;
    margin-left: 10%;
    text-align: left;
}
.header,
.footer
{
    font-size: 2em;
}
.header
{
    font-size: 3em;
    color: #000;
}
.subheading
{
    font-size: 2em;
}
.content .about
{
    font-size: 1.4em;
}
.content .documentation .comment
{
    font-family: cursive;
    font-size: 14px;
}
.content .documentation
{
    color: #000;
}
.content .documentation pre
{
    margin-left: 5px;
    text-align: left;
    color: #fff;
    background: #372b2b;
}
.footer
{
    font-size: 12px;
    font-weight: 800;
    padding-bottom: 5%;
    color: #514545;
}
.yellow
{
    color: #f3d212;
}
.skyblue
{
    color: #4ca9db;
}
.orange
{
    color: #ff601e;
}
.red
{
    color: #db1a1a;
}
.green
{
    color: #17d726;
}
.comm
{
    color: #a39d9d;
}
::-webkit-scrollbar
{
    width: 10px;
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
}
